doctype html
html
	head
		title Самоделкин продакшн
		link(rel='stylesheet', href='#{staticRoot}/css/main.css')
	body
		header
			img(src='#{staticRoot}/img/logo.svg')
			h1 Самоделкин лимитед презент
		aside
			nav
				a(href='#{root}/') Велкам камрады
				a(href='#{root}/projects.html') Проекты
				a(href='#{root}/contacts.html') Контакты
	article
		block main
	footer
		p 2014 &copy;  Y-o-hoo